{% extends "football_tracker/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<h1>Add a new Club</h1>
{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="club_name">Name:</label>
    <input type="text", id="club_name", name="club_name"><br><br>

    <label for="foundation_year">Founded:</label>
    <input type="number", id="foundation_year", name="foundation_year"><br><br>

    <label for="stadium">Stadium: </label>
    <input type="text", id="stadium", name="stadium"><br><br>

    <label for="manager">Manager: </label>
    <select id="manager" name="manager">
        {% for m in managers %}
            <option value="{{ m.id }}">{{ m.first_name }} {{ m.last_name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="league">League: </label>
    <select id="league" name="league">
        {% for l in leagues %}
            <option value="{{ l.id }}">{{ l.league_name }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Create</button>
</form>
{% endblock %}