{% extends "football_tracker/base.html" %}

{% block title %}{{ tournament.name }} {{ tournamnet.year }}{% endblock %}
{% block content %}
<div class="center-wrapper">
    <div class="main-box">
        <p>{{ tournament.name }}</p>
        <p>Year: {{ tournament.year }}</p>
        <p>Man of the Match: {{ tournament.man_of_the_match }}</p>
        <p>Finale Result: {{ tournament.final_winner }} {{ tournament.winner_score }} : {{ tournament.second_place_score }} {{ tournament.final_second_place }}</p>
        <p>City: {{ tournament.city }}</p>
        <p>Venue: {{tournament.venue }}</p>
        {% if perms.football_tracker.change_tournament %}
            <a class="button-edit" href="{% url 'tournament-update' tournament.id %}">Edit</a>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% if perms.football_tracker.delete_tournament %}
                <button class="button-delete" type="submit" onclick="return confirm('Are you sure you want to delete this tournament?');">
                    Delete
                </button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}