{% extends "football_tracker/base.html" %}

{% block title %}{{ manager.first_name }} {{ manager.last_name }}{% endblock %}

{% block content %}
<p>{{ manager.first_name }} {{ manager.last_name }}</p>
<p>Born: {{ manager.birth_date }}</p>
<p>Nationality: {{ manager.nationality }}</p>
<a href="{% url 'manager-update' manager.id %}">Edit</a>
<form method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Are you sure you want to delete this manager?');">
        Delete
    </button>
</form>
{% endblock %}