{% extends "football_tracker/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<form method="get">
    <input type="text", name="search", placeholder="Search managers", value="{{ seach_query }}">
    <button type="submit">Filter</button>
    <a href="{% url 'manager-create' %}">Add</a>
</form>
<div>
    {% for manager in managers %}
        <a href="{% url 'manager-details' manager.id %}">
            <p>{{ manager.first_name }} {{ manager.last_name }}</p>
        </a>
    {% endfor %}   
</div>
{% endblock %}