body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}

#navbar li {
    float: none;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login-button {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
}
